<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webgiadung/
    DirectoryIndex index.html index.php
    RewriteRule ^$ index.html [L]
    RewriteRule ^admin(/.*)?$ public/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>
